@import 'variables.scss';

*{
    padding: 0px;
    margin: 0px;
}

.add-button-container{
    display: inline-block;
    text-align: center;
}

.add-button{
    display: flex;
}

.itemlist-container{
    display: inline-block;
    text-align: center;
    background-color: rgba(200, 212, 223, 0.445);
    padding: 5px;
    margin-top: 10px;
    box-shadow: 1px 1px 5px rgba(17, 17, 17, 0.479);
    border: solid rgba(136, 123, 123, 0.479) 1px;
}

.itemlist-container h1{
    color: black;
    font-size: 15px;
}


.itemlist-container button{
    margin: 3px;
}

.item-list{
    display: flex;
    justify-content: space-between;
}

.item{
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.507);
    margin: 4px;
    text-align: center;
}

.item img{
    width: 200px;
    height: 200px;
}

.logo{
    text-align: center;
    text-decoration: none;
    color: #4A2475;
    font-size: 50px;
      a{
        text-decoration: none;
        color: $color1;
    }
}

.links{

    li, a{
        list-style-type: none;
        text-decoration: none;
        margin: 0;
        padding: 0;
        color: $color1;
        font-size: 25px;
    }

    a:hover{
        color: $color2;
    }
}

.header , .footer{
    background-image: linear-gradient(to right, #c396f711, #c396f746);
    
}



.redes{
    display: flex;
    justify-content: center;
    span{
        font-size: 30px;
        text-decoration: none;
        color: $color1;
        margin: 10px;
            }  
}

.cartWidget{

    a{
    font-size: 30px;
    text-decoration: none;
    color: $color1;
        }
    .cartWidget a:hover{
        color: $color2;
    }
}


.badge{
    color: $color3;
}

.containerCartItem{
    border: solid gray 1px;
    width: 100%;
    height: 200px;
}

.cardImg{
        max-height: 200px;
        max-width: 140px;
    
}